/*---- palette personnalisée ---*/
.primaire {background-color: #554E47 !important;}
.primaire.moyen {background-color: #75706B !important;}
.primaire.clair {background-color: #989490 !important;}
.primaire.pale {background-color: #CBC9C7 !important;}
.primaire.fond {background-color: #DDDCDA !important;}
.primaire-texte {color: #554E47 !important;}
.primaire-texte.texte-moyen {color: #75706B !important;}
.primaire-texte.texte-clair {color: #989490 !important;}
.primaire-texte.texte-pale {color: #CBC9C7 !important;}
.primaire-texte.texte-fond {background-color: #DDDCDA !important;}

.contraste-A {background-color: #2196F3}
.contraste-texte-A {color: #2196F3}
.contraste-B {background-color: #9ccc65;}
.contraste-texte-B {color: #9ccc65;}

/*---- surcharge typographie -----*/
@media only screen and (min-width: 1200px) {
  html {font-size: 17px;}
}

h1 {font-size: 3.5rem; margin: 2rem 0 1rem 0; color: #989490;}
h2 {font-size: 2.5rem; color: #989490;}
h3 {font-size: 2rem; margin: 2rem 0 1.5rem 0; color: #554E47;}
h4 {font-size: 1.5rem; margin: 2rem 0 1.5rem 0; color: #554E47;font-weight: 300;}

a {color: #0299e6;}

.card-panel h5 {margin-bottom: 1.5rem;}

p {font-weight: 300;}
p.chapo {font-size: 150%;}

.btn-flat.small {
	color: #78909B;
	text-decoration: underline;
	text-transform: none;
	padding: 0;
}
.btn-flat.small:hover,
.btn-flat.small:active {
	color: #0299e6;
}
.btn-flat.small i {
    margin: 0;
}
.hejmo h2 {
	color: #828965;
	font-weight: 300;
}
div.col > p:first-child {
	margin-top:0;
}

/* remarques et notes */
.noto {font-size: 80%;}

.toast {background-color: #e65100;}

.pinned {margin-right:1rem;}

/* amélioration de l'affichage s12 */

@media only screen and (max-width: 600px) {
	.row .col.s12 + .col.s12 {
		margin-top: 2em;
	}
}

/*---------------  cards ---------------*/
.card {padding: 1rem;}

/*------------ liste à puces ------------*/
ul.listo li { 
    padding-left: 1em; 
    text-indent: -0.7em;
}

ul.listo li:before {
    content: "•  ";
    color: #989490; 
}

/*------------- collapsible ------------*/

.collapsible-body{
    padding: 1em;
}
.collapsible-body p,
.collapsible-body ul.listo {
    padding: 0.5em 2em;
}
.collapsible-body ul.listo li {
    padding-left: 2em;
    text-indent: inherit;
}

.collapsible-header i.material-icons {
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    -ms-transition: -ms-transform .4s;
    transition: transform .4s;
}
.collapsible-header.active i.material-icons {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/****************************************/
/*           blocs principaux           */
/****************************************/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }
#logo {
	width:15%;
	text-align:center;
	font-family: 'Nothing You Could Do', cursive;
	letter-spacing: -0.08em;
}
main {
	align-self:auto;
	flex: 1 0 auto;
}

footer {
	flex: 0 1 auto;
	padding:0.5rem 1rem;
	margin-top:2em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/*********************************/
/*           contenu             */
/*********************************/

article {
	padding-right: 5%;
	font-weight: 300;
}
article p {
	font-weight: 300;
	line-height: 160%;
}

aside {
	padding-right: 5%;
	margin-top: 6rem;
}
/********** drop-down uzanto *******/
.dropdown-content li.uzanto {
    cursor: default;
    line-height: auto;
    font-weight: 300;
    font-size: 90%;
    padding: 1em;
    }
.dropdown-content li.uzanto:hover {
    background-color: inherit;
}
/********** progression dans le cours *******/

#superrigardo {
	margin: 0 0 0 15%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

ul#lecionoj {
	padding:0; margin: 0 0 0 1rem;
}
ul#lecionoj li {
	display: inline-block;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #dedede;
	font-size: 12px;
	font-weight: normal;
  	margin-right:1px;
  	padding:0.25em 0.5em;
}
ul#lecionoj li.farita {
	background-color: #9ccc65;
	border-color: #9ccc65;
}
ul#lecionoj li.nuna {
	background-color:#FFF;
	border:1px solid #9ccc65;
}
ul#lecionoj li a {
	display: block;
	color: #4a4a4a;	
	text-decoration: none;
}
ul#lecionoj li:hover {
	background-color: #c5e1a5;
	cursor: pointer;
}
ul#lecionoj li.farita a {
	color: #FFF;
}

@media only screen and (max-width: 720px) {
	#superrigardo {flex-direction: column;}
	#superrigardo p {margin: 0.5em 0;}
	ul#lecionoj {margin: 0;}
}

/********** sommaire de la leçon *******/

#enhavtabelo {
	width:90%;
	margin:0;
}
#enhavtabelo li {
	font-size:90%;
	line-height:1.8em;
	font-weight: 400;
}
ul#enhavtabelo li::before {
	font-family: 'Material Icons';
	-webkit-font-feature-settings: 'liga';
/*	content: "done";
	color: transparent;
*/}
ul#enhavtabelo li.gramm::before {
	font-family: 'Material Icons';
	-webkit-font-feature-settings: 'liga';
	content: "description";
	color: #999;
}
ul#enhavtabelo li.vortaro::before {
	font-family: 'Material Icons';
	-webkit-font-feature-settings: 'liga';
	content: "spellcheck";
	color: #999;
}
ul#enhavtabelo li.exo::before {
	font-family: 'Material Icons';
	-webkit-font-feature-settings: 'liga';
	content: "mode_edit";
	color: #999;
}
ul#enhavtabelo li.qcm::before {
	font-family: 'Material Icons';
	-webkit-font-feature-settings: 'liga';
	content: "mode_edit";
	color: #999;
}
ul#enhavtabelo li.farita::before {
	font-family: 'Material Icons';
	content: "done";
	-webkit-font-feature-settings: 'liga';
	color: #2196F3;
}
#enhavtabelo li a {
	padding-left: 0.5em;
	color: #75706B;
}
#enhavtabelo li a:hover {
	color: #039be5;
}
#enhavtabelo li a:active {
	color: #0277bd;
}

/********** vocabulaire de la leçon *******/
table.vortaro {
	width:90%;
	margin:5% auto;
	font-size:80%;
}

/********** progression dans la leçon *******/

ul#progreso {
	padding:0; margin: 0;
}
ul#progreso li {
	display: inline-block;
	list-style: none;
	width: 30px;
	height: 5px;
	background-color: #dedede;
	border:1px solid #dedede;
	margin-right:3px;
}

ul#progreso li.farita {
	background-color: #039be5;
	border-color: #039be5;
}
ul#progreso li.nuna {
	background-color:#FFF;
	border:1px solid #0299e6;
}

/********** fin de la leçon *******/

.ligoj {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-top:0.5em;
}
#leciono-fino {margin-top: 2rem;}
/**************************************/
/*        contenu des pages           */
/**************************************/

/******* home *******/
.hejmo #enkonduko h2 span {
	font-family: 'Nothing You Could Do', cursive;
}
.hejmo #enkonduko h2 {
	margin-top: 10rem;
}
.hejmo #enkonduko p {
	font-weight: 300;
	font-size: 120%;
}

.hejmo #niaj_kursoj,
.hejmo #aliaj_kursoj {
	margin-bottom: 5rem;
}
.hejmo #niaj_kursoj h2,
.hejmo #aliaj_kursoj h2 {
	text-align: center;
	margin-bottom: 3rem;
}

/******* informoj ******/

.informoj #enhavo {margin-top: 3rem;}
.informoj #rimarko {margin-top: 3rem;}
.informoj form {margin-top: 3rem;}
.informoj .label {text-align: right;}

/******* formulaires *******/

/*--- surcharge materialize ---*/
.modal .input-field{
	margin-top: 3rem;
}

.modal .modal-footer {
    height: 4em;
}
/*-----------------------------*/

.input-field .helpilo {
	color: #666;
	font-family: 'Nothing You Could Do', cursive;
	margin-top:-0.8rem;
}

/*********************************/
/*        pied de page           */
/*********************************/
.submenuo {
	align-self: flex-end;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.submenuo .ero {
	font-weight: 300;
	font-size: 80%;
	margin: 0 1em;
}
.submenuo .ero a {
	color: inherit;
}
.asocio {
	align-self: center;
	font-size: 80%;
}

/*********************************/
/*         typographie           */
/*********************************/

.creditphoto {
	font-size: 0.7rem!important;
	margin-top: 0;
}
.creditphoto a {
	color: inherit;
}
.creditphoto a:hover, .creditphoto a:active {
	color: inherit;
	text-decoration: underline;
}


@media only screen and (max-width: 992px) {
	article, aside {
		width: 90%;
		margin: 0 auto;
	}
	.submenuo {align-self: center;}
	.hejmo #enkonduko h2 {
		margin-top: 2rem;
	}

}

