a.sm2_button {
	position:relative;
	display:inline-block; /* If you worry about old browser bugs, Firefox 2 might not like this and may need -moz-inline-box instead. :D */
	width:18px;
	height:18px;
	text-indent:-9999px; /* don't show link text */
	overflow:hidden; /* don't draw inner link text */
	vertical-align:middle;
	/* and, a bit of round-ness for the cool browsers. */
	border-radius:6px;
	margin-top:-1px; /* vertical align tweak */
	/* safari 3.1+ fun (/W3 working draft extension, TBD.) */
	-webkit-transition-property: hover;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out 0s; /* firefox 4 (couldn't sort out -moz-transform vs. MozTransform, so, "all" for now) */
	-o-transition-property: background-color; /* opera 10.5 */
	-o-transition-duration: 0.15s;
	/* weird IE 6/7 display fixes, and/or I'm doing it wrong */
	*text-indent:0px;
	*line-height:99em;
	*vertical-align: top;
	margin-right: 0.5em;
}

a.sm2_button:focus {
	outline:none; /* maybe evil, but don't show the slight border outline on focus. */
}

a.sm2_button,
a.sm2_button.sm2_paused:hover {
	background-color:#2196F3;
	background-image:url(arrow-right-white.png);
	/* where possible, use data: and skip the HTTP request. Fancy-pants. Would use short-hand background: for above, but IE 8 doesn't override background-image. */
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAbklEQVQY02NgQAL//v1jZMAF/v//vwuIs9HEUBUBTbj4HwIeA3EGVsVAxtn/qOAVUGM8uknIiv4hsV8A5ZKxKfoLVvnvHwifAzLtMKwDSQLBVSBti27dJajkcSD2RJODO3wtkOOMz/tMSJJYAxMA5dmsL0IfubQAAAAASUVORK5CYII=);
	*background-image:url(../image/arrow-right-white.gif); /* IE 6+7 don't do DATA: URIs */
	background-repeat:no-repeat;
	background-position:5px 50%;
	*background-position:5px 4px; /* IE 6 again */
}

a.sm2_button:hover,
a.sm2_button.sm2_playing,
a.sm2_button.sm2_playing:hover {
	background-color:#9ccc65;
}

a.sm2_button.sm2_playing,
a.sm2_button.sm2_playing:hover {
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}

a.sm2_button.sm2_paused,
a.sm2_button.sm2_paused:hover {
	background-color:#666;
}