body{
	background-color : #DEE3E7;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #000000;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

.button {
	background : #DAE0E4;
	border : 1 solid #000000;
	color : #000000;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9px;
	font-weight : bold;
}

.editbox {
	background : #000000;
	border : 1 solid #323232;
	color : #FFFFFF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
}

.formarea {
	background-color : #DEE3E7;
	border-bottom-color : #c6cace;
	border-bottom-style : solid;
	border-bottom-width : 1;
	border-left-color : #f6fbfb;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #c6cace;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #f6fbfb;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000000;
	font-size : 10px;
}

.chatbox {
	color : #000000;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	text-align : left;
}

a.inlinelink:link {
	color : #FFFFFF;
	text-decoration : none;
}

a.inlinelink:visited {
	color : #FFFFFF;
	text-decoration : none;
}

a.inlinelink:active {
	color : #FFFFFF;
	text-decoration : none;
}

a.inlinelink:hover {
	color : #FFFFFF;
	text-decoration : underline;
}
.chat		{ font-size : 10px; color : #000000; font-weight: bold;}
.away		{ font-size : 10px; color : #333333; font-weight: bold; font-style : italic;}
.offline    { font-size : 10px; color : #666666; font-weight: bold; font-style : italic; text-decoration : underline;}

.table0 {
	background-color : #EFEFEF;
	border-bottom-color : #dedede;
	border-bottom-style : solid;
	border-bottom-width : 1;
	border-left-color : #fefefe;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #dedede;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #fefefe;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000000;
	font-size : 10px;
}

.table1 {
	background-color : #d5dade;
	border-bottom-color : #c8cdc1;
	border-bottom-style : solid;
	border-bottom-width : 1;
	border-left-color : #dfe5e9;
	border-left-style : solid;
	border-left-width : 1px;
	border-right-color : #c8cdc1;
	border-right-style : solid;
	border-right-width : 1px;
	border-top-color : #dfe5e9;
	border-top-style : solid;
	border-top-width : 1px;
	color : #000000;
	font-size : 10px;
}